body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.red-color{
    color: red;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;

}
.top-area{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.about{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.about img{
    width: 80%;
}